/* Add styles here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.logo{
    position: absolute;
    width: 7.5rem;
    height: 3rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}

body {
    background-color: #F3F5FC;
}

.main_container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.main_container_input_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10.5rem 2.5rem 4.5rem 15rem;
}

.main_container_input_section_input{
    display: flex;
    color: #0A3871;
    font-size: 2rem;
    line-height: 3rem;
    border: none;
    background-color: #F3F5FC;
    outline: none;
    resize: vertical;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main_container_input_section_input::placeholder{
    color: #0A3871;
}

.main_container_input_section_buttons_and_text_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main_container_input_section_buttons_container{
    display: flex;
    gap: 1.5rem;
}

.main_container_input_section_button{
    padding: 1.5rem;
    width: 17.5rem;
    border-radius: 24px;
    border: none;
    background-color: #0A3871;
    color: white;
    font-size: 1rem;
}

.desencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.main_container_input_section_alert_message{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.125rem;
    color: #495057;
}

.exclamacion_logo{
    width: 1rem;
    height: 1rem;
}

.main_container_result_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 2rem;
    margin: 2.5rem;
    box-shadow: 0px 24px 32px -8px #00000014;
    width: 25rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.image_result{
    margin: 2rem;
}

.result_title{
    margin: 0 2rem 1rem 2rem;
    font-size: 1.5rem;
    color: #343A40;
    font-weight: 700;
    text-align: center;
}

.result_text{
    margin: 0 2rem;
    font-size: 1rem;
    color: #495057;
    text-align: center;
    font-weight: 400;
}

.copy{
    display: none;
    margin: 2rem;
    background-color: #ffffff;
    color: #0A3871;
    border: 1px solid #0A3871;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #F3F5FC;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #0A3871;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .main_container{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .main_container_input_section{
        margin: 15rem 2.5rem 2rem 2.5rem;
    }

    .main_container_result_section{
        margin: 2rem 2.5rem 2.5rem 2.5rem;
        width: 100vw;
    }

    .image_result{
        display: none;
    }

    .result_title{
        margin: 2rem 2rem 0.5rem 2rem;
    }

    .result_text{
        margin: 0.5rem 2rem 2rem 2rem;
    }
}